.loading-wrap{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.1);
	z-index: 10000;
	display: none;
}
.loading-wrap.open{
	display:block;
}
.loading-wrap > *{
	top: 45%;
	position: relative;
}